node_modules/
.angular/
dist/
build/
bundle/
target/
cache/
test/

*.class
*.jar
*.war
*.ear

*.log
*.pid
hs_err_pid*
replay_pid*

data/*.sqlite
data/*.sqlite3
data/*.db
*.mv.db
*.trace.db

package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.idea/
*.iws
*.iml
*.ipr
.vscode/
